.GridItem {
  border-radius: calc(var(--Grid__radiusCount) * 0.2vmax);
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  z-index: var(--ZIndex__mediaItem);
}

.GridItem.GridItem__hide .Image,
.GridItem.GridItem__hide .Video {
  visibility: hidden;
}

:root {
  --GridItem__detailPadding: 6;
}

.GridItem__detail {
  background-color: hsla(var(--Theme__primary1H), calc(var(--Theme__primary1S) * 1%), calc(var(--Theme__primary1L) * 1%), 0.75);
  padding: calc(((var(--GridItem__detailPadding) / 10) * 1em) + ((var(--Grid__radiusCount) / 8) * 0.2vmax)) calc(((var(--GridItem__detailPadding) / 10) * 1em) + ((var(--Grid__radiusCount) / 2) * 0.2vmax));
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity var(--Theme__transitionMediumEase);
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
}

.GridItem__detail:hover,
.GridItem__showDetail .GridItem__detail {
  opacity: 1;
  pointer-events: all;
}

.GridItem__page,
.GridItem__subreddit {
  font-size: 0.5em;
  line-height: 1.4;
}

.GridItem__subreddit {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 0;
}

.GridItem__subreddit:link,
.GridItem__subreddit:visited {
  color: var(--Theme__accent300);
}

.GridItem__subreddit:focus {
  color: var(--Theme__accent400);
}

.GridItem__subreddit:hover {
  color: var(--Theme__accent400);
}

.GridItem__subreddit:active {
  color: var(--Theme__accent500);
}

.GridItem__page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5em;
  font-weight: var(--Theme__fontWeightBold);
  max-height: 100%;
  overflow: hidden;
}

.GridItem__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}

.GridItem__icon {
  flex-shrink: 0;
}

.GridItem__page:link .GridItem__icon,
.GridItem__page:visited .GridItem__icon {
  color: var(--Theme__accent300);
}

.GridItem__page:focus .GridItem__icon {
  color: var(--Theme__accent400);
}

.GridItem__page:hover .GridItem__icon {
  color: var(--Theme__accent400);
}

.GridItem__page:active .GridItem__icon {
  color: var(--Theme__accent500);
}

.Grid__square .GridItem {
  aspect-ratio: 1 / 1;
  position: relative;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

.Grid__square .GridItem .Image,
.Grid__square .GridItem .Video {
  width: 100%;
  height: 100%;
}

.Grid__square .GridItem .Image__content,
.Grid__square .GridItem .Video__content {
  aspect-ratio: var(--GridItem__mediaAspectRatio);
  width: fit-content;
  height: fit-content;
  transform-origin: center;
  transition: none;
}

.Grid__square .GridItem.GridItem__square {
  flex-direction: row;
}

.Grid__square .GridItem.GridItem__portrait {
  flex-direction: column;
}

.Grid__square .GridItem.GridItem__landscape {
  flex-direction: row;
}

.Grid__square .GridItem.GridItem__square .Image__content,
.Grid__square .GridItem.GridItem__square .Video__content {
  width: 100%;
}

.Grid__square .GridItem.GridItem__portrait .Image__content,
.Grid__square .GridItem.GridItem__portrait .Video__content {
  width: 100%;
  transform: translateY(calc(var(--GridItem__panY) * 1px));
}

.Grid__square .GridItem.GridItem__landscape .Image__content,
.Grid__square .GridItem.GridItem__landscape .Video__content {
  height: 100%;
  transform: translateX(calc(var(--GridItem__panX) * 1px));
}

.Grid__grid .GridItem {}

.Grid__grid .GridItem.GridItem__square {
  grid-column: span 2;
  grid-row: span 2;
}

.Grid__grid .GridItem.GridItem__portrait {
  grid-column: span 1;
  grid-row: span 2;
}

.Grid__grid .GridItem.GridItem__landscape {
  grid-column: span 2;
  grid-row: span 1;
}

.Grid__flex {
  display: flex;
  flex-wrap: wrap;
}

.Grid__flex::after {
  content: "";
  flex-grow: 999999999;
}

.Grid__flex .GridItem {
  width: calc(((var(--GridItem__mediaWidth) * (var(--Grid__flexSizeCount) * 10)) / var(--GridItem__mediaHeight)) * 1px);
  flex-grow: calc((var(--GridItem__mediaWidth) * (var(--Grid__flexSizeCount) * 10)) / var(--GridItem__mediaHeight));
}

.Grid__column .GridItem {
  width: 100%;
  aspect-ratio: var(--GridItem__mediaAspectRatio);
}

.Grid__solo .GridItem {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: var(--GridItem__mediaAspectRatio);
  scroll-snap-align: center;
  position: relative;
}

.Grid__solo .GridItem.GridItem__maxWidth {
  width: 100%;
}

.Grid__solo .GridItem.GridItem__maxHeight {
  height: 100%;
}
